<!DOCTYPE html>
<html>

<head>
 <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "ejt46s23ya");
</script>
 </head>

<h2>Hello!</h2>
<br>
<button class="GFG" onclick="window.location.href = 'https://demoproject1.azurewebsites.net/';">
    Home
</button>
<br>
<br>

<button class="GFG" onclick="window.location.href = 'https://demoproject1.azurewebsites.net/page1';">
   Page 1
</button>
<br>
<br>
<button class="GFG" onclick="window.location.href = 'https://demoproject1.azurewebsites.net/page2';">
    Page 2
</button>

</html>
